<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DATABASE" value="Data Source=192.168.0.150;Initial Catalog=webdb;Persist Security Info=True;User ID=sa;Password=111111;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;DIM.Robot&quot;"/>
    <add key="SetFilePath" value="C:\set.config"/>
    <add key="CheckLog" value="C:\log.config"/>
  </appSettings>
</configuration>
