<?xml version="1.0" encoding="utf-8"?><Setting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><LogCount>18</LogCount><Dbaddress /><IsRun /><AutoRunTime>9:15</AutoRunTime><ClickStatus>2</ClickStatus><ReadDbSleep>5</ReadDbSleep><Dbpwd /><Dbuid /></Setting>